/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha-light: #f2f2f9;
    --color-alpha: #a3a0fb;
    --color-alpha-alt: #a5a4bf;
    --color-alpha-dark: #4c4b68;
    --color-alpha-10-dark: #43435d;
    --color-alpha-20-dark: #4d4f5c;
    --color-beta: #3b86ff;
    --color-gamma: #ff6565;

    --color-neutral-light: #fff;
    /* --color-neutral: SLATEGRAY; */
    --color-neutral-10-dark: #D7DAE2;
    --color-neutral-20-dark: #A4AFB7;
    --color-neutral-dark: #43425d;

    /* Shadows */
    --shadow-neutral: 0 2px 6px rgba(0, 0, 0, 0.04);
    /* border radius */

    /* transitions */
    --transition-alpha: 0.1s;

    // Grid
    --grid-sidebar-width: 260px;

    --grid-baseline: 5px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', Helvetica, arial, sans-serif;
    color: var(--color-alpha-20-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-alpha-light);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 28px;
    // font-weight: 400;
    line-height: 1.5;
    margin: 0 0 24px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 24px;
}

h3 {
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 24px;
}

h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em;
    /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
    Component: App
    ---
    App
*/
.c-app {
    min-height: 100vh;
    position: relative;
}

.c-app__logo {
    background: var(--color-alpha-10-dark);
    padding: calc(var(--grid-baseline) * 5.2) 0 calc(var(--grid-baseline) * 4.6) calc(var(--grid-baseline) * 4.6);

    h1 {
        display: flex;
        align-items: center;
        line-height: 21px;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 2px;
        margin: 0;
    }

    color: var(--color-neutral-light);
}

.c-app__topbar {
    background: var(--color-neutral-light);
    box-shadow: var(--shadow-neutral);
    display: none;
}

.c-app__sidebar {
    background: var(--color-alpha-dark);
    overflow: auto;
}

.c-app__sidebar--ishidden {
    display: none;
}

.c-app__main {
    overflow: auto;
    padding: calc(var(--grid-baseline) * 5.2) calc(var(--grid-baseline) * 4.6) calc(var(--grid-baseline) * 4.6) calc(var(--grid-baseline) * 4.6);

}

@media screen and (min-width: 65rem) {
    .c-app {
        display: grid;
        grid-template-columns: var(--grid-sidebar-width) auto;
        grid-template-rows: auto 1fr;
    }

    .c-app__nav-icon {
        display: none;
    }

    .c-app__sidebar--ishidden {
        display: block;
    }

    .c-app__topbar {
        display: block;
    }

    .c-app__sidebar,
    .c-app__main {
        max-height: calc(100vh - 70px);
    }
}

.c-nav__list {
    margin: 0;
    padding: 0;
}

.c-nav__item {
    margin: 0;
    border-left: 5px solid transparent;

    transition: background 0.3s ease-out, border 0.3s ease-out;
    margin-top: calc(var(--grid-baseline) * 1.2);

    a {
        // display: inline;
        display: flex;
        align-items: center;

        padding: calc(var(--grid-baseline) * 3.6) 0 calc(var(--grid-baseline) * 3.8) calc(var(--grid-baseline) * 4);

        font-size: 1rem;
        text-decoration: none;
        color: var(--color-neutral-light);
    }

    .c-nav__icon {
        width: 16px;
        height: 16px;
        display: block;
        fill: var(--color-alpha-alt);
        margin-right: calc(var(--grid-baseline) * 2.2);
    }

    &:hover {
        a {
            padding: calc(var(--grid-baseline) * 3.6) 0 calc(var(--grid-baseline) * 3.8) calc(var(--grid-baseline) * 4);
        }

        .c-nav__icon {
            fill: var(--color-alpha);
        }

        background: var(--color-alpha-10-dark);

        border-left: 5px solid var(--color-alpha);
    }
}

.c-nav__item--selected {
    background: var(--color-alpha-10-dark);
    border-left: 5px solid var(--color-alpha);

    a {
        padding: calc(var(--grid-baseline) * 3.6) 0 calc(var(--grid-baseline) * 3.8) calc(var(--grid-baseline) * 4);
    }

    .c-nav__icon {
        fill: var(--color-alpha);
    }
}

/*
    Component: Logo
    ---
    Website main logo
*/
.c-hamburger {
    // padding: 15px 15px;
    padding-right: 1rem;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: visible;
}

.c-hamburger:hover {
    opacity: 0.7;
}

.c-hamburger__input:checked+.c-hamburger:hover {
    opacity: 0.7;
}


.c-hamburger__input:checked+.c-hamburger .c-hamburger__inner,

.c-hamburger__input:checked+.c-hamburger .c-hamburger__inner::before,

.c-hamburger__input:checked+.c-hamburger .c-hamburger__inner::after {
    background-color: #fff;
}

.c-hamburger__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.c-hamburger__inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.c-hamburger__inner,
.c-hamburger__inner::before,
.c-hamburger__inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.c-hamburger__inner::before,
.c-hamburger__inner::after {
    content: "";
    display: block;
}

.c-hamburger__inner::before {
    top: -10px;
}

.c-hamburger__inner::after {
    bottom: -10px;
}

.c-hamburger--squeeze .c-hamburger__inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.c-hamburger--squeeze .c-hamburger__inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.c-hamburger--squeeze .c-hamburger__inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.c-hamburger__input:checked+.c-hamburger--squeeze .c-hamburger__inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}


.c-hamburger__input:checked+.c-hamburger--squeeze .c-hamburger__inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}


.c-hamburger__input:checked+.c-hamburger--squeeze .c-hamburger__inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.c-dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 30px;

    .c-dashboard__item {
        background: white;
        padding: 24px;
        grid-column: 1 / span 12;
        box-shadow: var(--shadow-neutral);
    }
}

.c-card {
    .c-card__header {
        display: flex;
        justify-content: space-between;

        .c-card__title {}

        .c-card__dropdown {
            width: 130px;
        }
    }

    .c-card__body {
        .c-card__chart {}
    }
}

.c-select {
    display: block;
    position: relative;
    box-shadow: var(--shadow-neutral);
}

.c-select__input {
    outline: none;
    padding: var(--grid-baseline) 12px;
    font-size: 1rem;
    height: 32px;

    width: 100%;
    color: var(--color-alpha-20-dark);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px var(--color-neutral-10-dark) solid;
    border-radius: 4px;
}

.c-select__symbol {
    position: absolute;
    right: 6px;
    top: 4px;
    width: 24px;
    pointer-events: none;
    fill: var(--color-neutral-20-dark);
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-grid__column--6-of-12 {
    grid-column-start: span 6 !important;
}

.u-grid__column--4-of-12 {
    grid-column-start: span 4 !important;
}

.u-grid__column--8-of-12 {
    grid-column-start: span 8 !important;
}

.u-grid__row--2span {
    grid-row-start: span 2 !important;
}



/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' ('attr(href) ')';
    }

    abbr[title]:after {
        content: ' ('attr(title) ')';
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}